<h1>Listing weathers</h1>

<table id="weathers-table">
  <tr>
    <th>Current temp f</th>
    <th>Wind speed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Weather</a>