<h1>New weather</h1>

<form id="new-weather" name="weather">
  <div class="field">
    <label for="current_temp_f"> current_temp_f:</label>
    <input type="text" name="current_temp_f" id="current_temp_f" value="<%= current_temp_f %>" >
  </div>

  <div class="field">
    <label for="wind_speed"> wind_speed:</label>
    <input type="text" name="wind_speed" id="wind_speed" value="<%= wind_speed %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Weather" />
  </div>

</form>

<a href="#/index">Back</a>